/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family:  'Anton', sans-serif Impact,;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
  
  /* Navigation bar */
  
  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
 
  .nav-item {
    margin: 0px 15px;
  }
  

  
  /* Navigation links */
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
  }
  
  /* Jumbotron  */
  .jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }
  
  /* Cards */
  .content {
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
  }
  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }
  

  
  
  
  /* STYLES FOR TEMPLATE */
  .cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }
  